body{
  background: rgb(243 242 239);
  overflow-x: hidden;
}
.navbar {
  text-align: center;
  background: #ffffff;
  height: 70px;
}
.navbar ul{
  padding: 0;
  margin: 0;
}
.navbar ul li{
  display: inline-block;
  list-style: none;
  padding: 25px 20px;
}

.navbar ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.navbar ul li a:hover{
  color: red;
}

.navbar .register_login button{
  margin: 15px;
  padding: 10px 20px;
  width: 120px;
  background: transparent;
  border: 1px solid black;
  border-radius: 21px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.navbar .register_login button:focus{
  outline: none;
}
.navbar .register_login button:hover{
  background: #171717;
  color: #ffffff;
}

body .table tr td{
  font-family: 'Roboto', sans-serif;
}

body .table th{
  font-family: 'Roboto', sans-serif;
}

.error_notice{
  margin-bottom: 20px;
}

.error_notice span{
  color: red;
}

.error_notice button{
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
/* Login Page */

.Login_Page{
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.Login_Page .input_field{
  display: block;
  padding-bottom: 20px;
}
.Login_Page .input_field label{
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.Login_Page .input_field input{
  width: 100%;
  padding: 10px;
  border: 0.5px solid black;
  background: #ffffff;
  box-sizing: border-box;
}

.Login_Page .finish_login{
  text-align: left;
}

.Login_Page .finish_login input{
  background: transparent;
  border: 1px solid black;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.Login_Page .finish_login input:hover{
  background: #171717;
  color: #ffffff;
}

.Login_Page .welcome_to_stag{
  max-width: 180px;
  display: none;
}

.Login_Page .welcome_to_stag img{
  width: 100%;
  height: 100%;
}

/* Register Page */

.Register_Page{
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.Register_Page .input_field{
  display: block;
  padding-bottom: 20px;
}
.Register_Page .input_field label{
  display: block;
  text-align: left;
  padding-bottom: 10px;
}

.Register_Page .input_field input{
  width: 100%;
  padding: 10px;
  border: 0.5px solid black;
  background: #ffffff;
  box-sizing: border-box;
}

.Register_Page .finish_login{
  text-align: left;
}

.Register_Page .finish_login input{
  background: transparent;
  border: 1px solid black;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.Register_Page .finish_login input:hover{
  background: #171717;
  color: #ffffff;
}

.Register_Page .input_field.verifiy_password input:nth-child(2){
  margin-bottom: 15px;
}

.thead_light tr{
  width: 100%;
}
.to_do_completed_and_deleted img{
  width: 100%;
  height: 100%;
}
.to_do_completed_and_deleted .left_corner{
  max-width: 60px;
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.to_do_completed_and_deleted .left_corner .text{
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-left: 15px;
  transition: all 0.3s ease;
}

.to_do_completed_and_deleted .left_corner:hover .text{
  opacity: 1;
  visibility: visible;
}

.to_do_completed_and_deleted .text h3{
  font-size: 14px;
}

.to_do_completed_and_deleted .right_corner{
  max-width: 60px;
  position: absolute;
  left: auto;
  right: 5px;
  bottom:10px;
}

.to_do_completed_and_deleted .right_corner .text{
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: all 0.3s ease;
}
.to_do_completed_and_deleted .right_corner:hover .text{
  opacity: 1;
  visibility: visible;
}

.timer_container .item{
  display: inline-block;
  margin: 0 10px;
}

.timer_container .item p{
  display: inline-block;
  margin-right: 5px;
}
.theme-color button:focus{
  outline: none;
}
.theme-color button{
  padding: 10px 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.theme-color button:hover{
  opacity: 0.8;
}
.theme-color{
  position: absolute;
  top: 50%;
  right: -240px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  width: 300px;
  z-index: 9;
}
.theme-color .show_color_picker svg{
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
}

.theme-color .color_picker_theme{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  background: #ffffff;
  padding: 20px;
}
.theme-color:hover{
  right: 0;
}

.theme-color:hover .color_picker_theme{
  opacity: 1;
  visibility: visible;
}

.to_do_completed_and_deleted{
  display: none;
}

/* New css for targets table */
.Targets_page .table ul{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -7px;
}

.Targets_page .table ul li{
  list-style: none;
  display: inline-block;
  text-align: left;
  letter-spacing: normal;
  padding: 0 15px;
  box-sizing: border-box;
}

.Targets_page .table ul li.username{
  width: 10%;
}

.Targets_page .table ul li.description{
  width: 40%;
}

.Targets_page .table ul li.duration{
  width: 10%;
}

.Targets_page .table ul li.date{
  width: 15%;
}

.Targets_page .table ul li.actions{
  width: 15%;
}

.Targets_page .table ul li.priority{
  width: 10%;
  padding: 0;
}

/* Target Priority */
.table .drag_drop .item{
  position: relative;
}

.table .drag_drop .item .green{
  width: 20px;
  height: 20px;
  background: greenyellow;
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}

.table .drag_drop .item .orange{
  width: 20px;
  height: 20px;
  background: orange;
  display: block;
  position: absolute;
  top: 5px;
  left: 40px;
}

.table .drag_drop .item .red{
  width: 20px;
  height: 20px;
  background: red;
  display: block;
  position: absolute;
  top: 5px;
  left: 80px; 
}