.table{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -7px;
    box-sizing: border-box;
}

.table .drag_drop .item{
    display: inline-block;
    letter-spacing: normal;
    vertical-align: middle;
    padding: 10px 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.table .drag_drop .item.username{
    width: 10%;
}
.table .drag_drop .item.description{
    width: 40%;
    overflow: hidden;
}
.table .drag_drop .item.duration{
    width: 10%;
}
.table .drag_drop .item.date{
    width: 15%;
}
.table .drag_drop .item.edit_delete{
    width: 15%;
}
.table .drag_drop .item.priority{
    width: 10%;
}


.table .content .drag_drop{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-bottom: 10px;
}
.table .content svg{
    width: 23px;
    height: 23px;
    vertical-align: middle;
    margin: 0 5px;
}

.table .drag_drop #low{
    color: green;
    position: relative;
}
.table .drag_drop #low::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: green;
    top: 50%;
    left: 0px;
}
.table .drag_drop #medium{
    color: orange;
    position: relative;
}
.table .drag_drop #medium{
    color: orange;
}
.table .drag_drop #medium:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: orange;
    top: 50%;
    left: 0px;
}
.table .drag_drop #high{
    color: red;
    position: relative;
}
.table .drag_drop #high:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
    top: 50%;
    left: 0px;
}

.just_on_mobile{
    display: none;
}

/* --------- Media query ---------*/
@media only screen and (max-width: 1024px) {
    .theme-color{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .table .drag_drop .item{
        width: 50% !important;
    }
    .just_on_mobile{
        display: inline-block;
        margin-right: 5px;
        font-weight: normal;
    }
    .table .drag_drop .item.username{
        font-weight: bold;
        width: 100% !important;
    }
    .table .drag_drop .item.description{
        width: 100% !important;
    }
    .Targets_page .table ul{
        display: none;
    }
    .table .drag_drop .item.date{
        text-align: right;
    }
    .table .drag_drop .item.edit_delete{
        text-align: right;
    }
    .table .drag_drop #high:before{
        display: none;
    }
    .table .drag_drop #low:before{
        display: none;
    }
    .table .drag_drop #medium:before{
        display: none;
    }
}